node_modules/
.env
.env.local
.env.*.local
.DS_Store
*.pem
.next/
out/
build/
dist/
.vercel
.swc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.vscode
.idea
*.iml
coverage/
.eslintcache
